{
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "angular": true,
    "inject": true,
    "EasyTest": true,
    "expect": true
  },
  "rules": {
    "quotes": [2, "single"]
  }
}
